

////////// sturcture
#mold-devpanel__structure {
  overflow-x: auto;
  overflow-y: auto;
  font-size: $structure-font-size;
  line-height: $structure-line-height;
  box-sizing: border-box;
}

//////////////// Document
.mold-devpanel__document {
  background: #f9f9e1;
  border: 1px solid #d8d87c;
  margin: 0 0 2px;
  padding: 1px 3px;
  font-size: $value-font-size;
  line-height: $value-line-height;
}
.mold-devpanel__document ul {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: $value-font-size;
  line-height: $value-line-height;
  li {
    padding: 0;
    margin: 0;
  }
}
.mold-devpanel__document_value-wrapper {
  display: flex;
}
.mold-devpanel__document_label {
  margin-right: 5px;
  color: #999;
}
.mold-devpanel__document_no-data {
  color: $no-data-color;
}
.mold-devpanel__document_next-level {
  margin-left: $level-margin;
}
