////////// sturcture
#mold-devpanel__structure {
  overflow-x: auto;
  overflow-y: auto;
  font-size: $structure-font-size;
  line-height: $structure-line-height;
  box-sizing: border-box;
}
.mold-devpanel__container-children {
  padding-left: 10px;
  border-left: 1px solid #ccc;
}
.mold-devpanel__container-name {
  padding: 2px 0 2px;
}




//////////////// Document
.mold-devpanel__document {
  & > ul {
    border: 1px solid #d8d87c;
    list-style: none;
    margin: 0 0 2px;
    & > li {
      font-size: 120%;
      line-height: 120%;
      padding: 3px;
      background: #f9f9e1;
      display: flex;
      padding: 0;
      & > .mold-devpanel__document_label {
        margin-right: 5px;
      }
      & > .mold-devpanel__document_value {
        font-weight: bold;
      }
    }
  }
}
