$level-margin: 5px;
$structure-font-size: 12px;
$structure-line-height: 13px;
$value-font-size: 14px;
$value-line-height: 16px;
$number-color: #325cad;
$boolean-color: #9e5721;
$string-color: #333;
$path-color: #444;
$no-data-color: #887026;
$primitive-type-color: #efefef;
$primitive-ro-color: #f9eb9c;
$primitive-ro-saveable: #cfffbc;
$primitive-ro-unsaveable: #ffc0c4;


.mold-devpanel__type-number {
  color: $number-color,
}
.mold-devpanel__type-boolean {
  color: $boolean-color;
}
.mold-devpanel__type-string {
  color: $string-color;
}

////////////// Item wrapper
.mold-devpanel__container-children {
  padding-left: $level-margin;
  border-left: 1px solid #ccc;
}
.mold-devpanel__container-name {
  padding: 2px 0 2px;
  color: $path-color;

  button {
    height: 13px;
    width: 13px;
    padding: 0;
    margin-left: 3px;
    border: 1px solid transparent;
    &:hover {
      border-color: #ccc;
    }
  }
  .mold-devpanel-switcher {
    display: inline;
    margin: 0;
    padding: 0;
    font-size: 11px;
    line-height: 1px;
    font-weight: bold;
    color: #555;
    height: 12px;
    border: 0 none;
    .mold-devpanel__switcher_arrow-right {
      font-size: 18px;
    }
  }
}
.mold-devpanel__container-hint {
  font-size: 85%;
  margin-left: 5px;
}
