$level-margin: 7px;
$structure-font-size: 11px;
$structure-line-height: 12px;
$value-font-size: 13px;
$value-line-height: 15px;
$number-color: #325cad;
$boolean-color: #9e5721;
$string-color: #333;
$path-color: #444;
$no-data-color: #887026;


.mold-devpanel__type-number {
  color: $number-color,
}
.mold-devpanel__type-boolean {
  color: $boolean-color;
}
.mold-devpanel__type-string {
  color: $string-color;
}

////////////// Item wrapper
.mold-devpanel__container-children {
  padding-left: $level-margin;
  border-left: 1px solid #ccc;

}
.mold-devpanel__container-name {
  padding: 2px 0 2px;
  color: $path-color;
}
