#mold-devpanel {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 300px;
  background: white;
  border-left: 1px solid #ccc;
  box-shadow: 0px 0px 30px rgba(0,0,0, 0.5);
  z-index: 99999;
  overflow-x: hidden;
  overflow-y: auto;
}

#mold-devpanel-inner {
  padding: 10px;
}

#mold-devpanel-openner {
  position: fixed;
  bottom: 0;
  right: 0;
  height: 50px;
  width: 50px;
  z-index: 99999;
  background: white;
  opacity: 0.5;
  border: 1px solid #ccc;
  cursor: pointer;
}
#mold-devpanel-openner:hover {
  opacity: 1;
}

.mold-devpanel--hide {
  display: none;
}

#mold-devpanel-header {
  display: flex;
}
#mold-devpanel-closer {
  cursor: pointer;
}
#mold-devpanel-header-h1 {
  flex-grow: 1;
  h1 {
    font-size: 14px;
    margin: 0;
  }
}


////////// sturcture
#mold-devpanel__structure {
  overflow-x: auto;
  overflow-y: auto;
  font-size: 12px;
  line-height: 12px;
  box-sizing: border-box;
}
.mold-devpanel__primitive {
  padding: 3px;
  background: #f9f9e1;
  border: 1px solid #d8d87c;
}
.mold-devpanel__container {
  //padding: 2px;
}
.mold-devpanel__container-children {
  padding-left: 10px;
  border-left: 1px solid #ccc;
}
.mold-devpanel__container-name {
  padding: 8px 0 2px;
  font-size: 11px;
  line-height: 11px;
}
