$structure-font-size: 11px;
$structure-line-height: 12px;

#mold-devpanel {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 300px;
  background: white;
  border-left: 1px solid #ccc;
  box-shadow: 0px 0px 30px rgba(0,0,0, 0.5);
  z-index: 99999;
  overflow-x: hidden;
  overflow-y: auto;
}

#mold-devpanel-inner {
  padding: 10px 0 10px 10px;
}

#mold-devpanel-openner {
  position: fixed;
  bottom: 0;
  right: 0;
  height: 30px;
  width: 30px;
  margin: 0 5px 20px 0;
  padding: 5px 0 0 3px;
  z-index: 99999;
  background: #eaeaea;
  opacity: 0.5;
  border: 1px solid #ccc;
  cursor: pointer;
  .mold-devpanel-switcher {
    border: 0 none;
  }
}
#mold-devpanel-openner:hover {
  opacity: 1;
}

.mold-devpanel--hide {
  display: none;
}

#mold-devpanel-header {
  display: flex;
  margin-bottom: 12px;
}
#mold-devpanel-closer {
  cursor: pointer;
}
#mold-devpanel-header-h1 {
  flex-grow: 1;
  margin-left: 10px;
  h1 {
    font-size: 14px;
    margin: 0;
  }
}

.mold-devpanel-switcher {
  padding: 0 5px 3px;
  font-size: 29px;
  line-height: 13px;
  font-weight: bold;
  border: 1px solid transparent;

  &:hover {
    border-color: #ccc;
  }
}


////////// sturcture
#mold-devpanel__structure {
  overflow-x: auto;
  overflow-y: auto;
  font-size: $structure-font-size;
  line-height: $structure-line-height;
  box-sizing: border-box;
}
.mold-devpanel__container-children {
  padding-left: 10px;
  border-left: 1px solid #ccc;
}
.mold-devpanel__container-name {
  padding: 2px 0 2px;
}


//.mold-devpanel__primitive {
//  padding: 3px;
//  background: #f9f9e1;
//  border: 1px solid #d8d87c;
//}
//.mold-devpanel__container {
//  //padding: 2px;
//}


//////////////// TABS
.mold-devpanel__hide {
  display: none;
}

.mold-devpanel__tab_buttons {
  button {
    padding: 5px;
    border: 1px solid #ccc;
    background: #eaeaea;
    margin-right: -1px;
  }
}
.mold-devpanel__tab-active {
  background: white !important;
}


//////////////// Document
.mold-devpanel__document {
  & > ul {
    border: 1px solid #d8d87c;
    list-style: none;
    margin: 0 0 2px;
    & > li {
      font-size: 120%;
      line-height: 120%;
      padding: 3px;
      background: #f9f9e1;
      display: flex;
      & > .mold-devpanel__document_label {
        margin-right: 5px;
      }
      & > .mold-devpanel__document_value {
        font-weight: bold;
      }
    }
  }
}
